<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full">

<div class="min-h-full">
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div class="shrink-0">
                        <img class="size-8" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a th:href="@{/}" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Ürün</a>
                            <a th:href="@{/depo}"  class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Depo</a>
                            <a th:href="@{/stokHareket/cokSatanlar}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Çok Satanlar</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </nav>

    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
        </div>
    </header>
    <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-2xl font-bold mb-4">En Çok Satışı Yapılan Ürünler</h1>
            <table class="table-auto w-full border">
                <thead>
                <tr class="bg-gray-800 text-white">
                    <th class="px-4 py-2 border">Ürün Adı</th>
                    <th class="px-4 py-2 border">Ürün Markası</th>
                    <th class="px-4 py-2 border">Toplam Satış Miktarı</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row : ${topSellingProducts}">
                    <td class="px-4 py-2 border bg-white" th:text="${row[0].ad}"></td>
                    <td class="px-4 py-2 border bg-white" th:text="${row[0].marka}"></td>
                    <td class="px-4 py-2 border bg-white" th:text="${row[1]}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </main>
</div>

</body>
</html>

