<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full">

<div class="min-h-full">
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div class="shrink-0">
                        <img class="size-8" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a th:href="@{/}" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Dashboard</a>
                            <a th:href="@{/depo}"  class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Depo</a>
                            <a th:href="@{/stokHareket/cokSatanlar}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Çok Satanlar</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </nav>

    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Ürün Güncelleme</h1>
        </div>
    </header>
    <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
                <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
                    <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                </div>
                <div class="mx-auto max-w-2xl text-center">
                    <h2 class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Ürün Güncelle</h2>
                </div>
                <form th:action="@{'/save'}" th:method="POST" th:object="${urun}" class="mx-auto mt-16 max-w-xl sm:mt-20">
                    <input th:type="hidden" th:field="${urun.id}">
                    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                        <div>
                            <label for="ad" class="block text-sm/6 font-semibold text-gray-900">Ürün Adı</label>
                            <div class="mt-2.5">
                                <input type="text" th:field="${urun.ad}" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                                <div th:if="${#fields.hasErrors('ad')}" th:errors="*{ad}"></div>
                            </div>
                        </div>
                        <div>
                            <label for="marka" class="block text-sm/6 font-semibold text-gray-900">Marka</label>
                            <div class="mt-2.5">
                                <input type="text" th:field="${urun.marka}"  class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                                <div th:if="${#fields.hasErrors('marka')}" th:errors="*{marka}"></div>
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label for="adet" class="block text-sm/6 font-semibold text-gray-900">Adet(Miktar)</label>
                            <div class="mt-2.5">
                                <input type="text" th:field="${urun.adet}"  class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                            </div>
                        </div>
                        <div>
                            <label for="tarih" class="block text-sm/6 font-semibold text-gray-900">Tarih</label>
                            <div class="mt-2.5">
                                <input type="text" th:field="${urun.tarih}"
                                       th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                       readonly
                                       class="block w-full rounded-md bg-gray-100 px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-none">
                            </div>
                        </div>
                        <div>
                            <label for="depo" class="block text-sm/6 font-semibold text-gray-900">Depo</label>
                            <div class="mt-2.5">
                                <select id="depo_id" name="depo" class="form-select block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" th:field="${urun.depo}">

                                    <option th:each="depo : ${depolar}" th:value="${depo.id}" th:text="${depo.ad}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mt-10">
                        <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Kaydet</button>
                    </div>
                </form>
            </div>

        </div>
    </main>
</div>

</body>
</html>

